@font-face {
  font-family: "cubano";
  src: url("Cubano-Regular.otf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: url("space.jpg");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#people {
  margin: 0.5rem;
  background-color: cornflowerblue;
  border-radius: 10px;
  padding: 2rem;
  width: auto;
  flex: 0 0 300px;
}

h1 {
  font-family: "cubano";
  font-size: 3rem;
  color: tomato;
  text-shadow: 5px 5px 0 black;
}

p {
  font-family: monospace;
  font-size: 1.5rem;
}

ul {
  font-family: monospace;
  font-size: 1.3rem;
  list-style: none;
}

#map {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  flex: 0 0 300px;
}

#map img {
  border-radius: 10px;
}

@media (min-width: 500px) {
  #people {
    flex-basis: 500px
  }

  #people {
    flex-basis: 500px
  }

}